@charset "UTF-8";
.logo {
  width: auto;
  height: 63px;
  min-width: auto; }

.btn-phone, .btn-support, .btn-contact, .btn-hamburger, .btn-search, .btn-small-search {
  display: inline-flex;
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 50px;
  min-height: 50px;
  text-decoration: none;
  line-height: 36px;
  margin-left: 15px; }

.btn-phone {
  display: none;
  font-size: 2rem;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: black;
  text-decoration: none; }
  .btn-phone::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  .btn-phone:hover {
    color: black;
    text-decoration: underline; }
  @media (max-width: 707px) {
    .btn-phone {
      display: inline-flex; } }

.btn-support {
  display: none;
  background-color: #4183d7;
  border-color: #4183d7;
  font-size: 1.25rem; }
  .btn-support:hover {
    color: white;
    background-color: #2a6ec6; }
  .btn-support::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  @media (min-width: 908px) {
    .btn-support {
      display: inline-flex; } }

.btn-contact {
  display: none;
  background-color: #999aa2;
  border-color: #999aa2;
  font-size: 1.25rem; }
  .btn-contact:hover {
    color: white;
    background-color: #84858f; }
  .btn-contact::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  @media (min-width: 908px) {
    .btn-contact {
      display: inline-flex; } }

.btn-hamburger {
  display: inline-flex;
  background-color: black;
  border-color: black;
  font-size: 1.5rem; }
  .btn-hamburger:hover {
    color: white; }
  .btn-hamburger::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

.btn-search {
  display: inline-flex;
  background-color: #999aa2;
  border-color: #999aa2;
  font-size: 1.25rem; }
  .btn-search:hover {
    color: white;
    background-color: #84858f; }
  .btn-search::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  .btn-search-alt {
    background-color: rgba(0, 0, 0, 0.1); }

.btn-small-search {
  display: none;
  background-color: #999aa2;
  border-color: #999aa2;
  font-size: 1.25rem; }
  .btn-small-search:hover {
    color: white;
    background-color: #84858f; }
  .btn-small-search::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  @media (min-width: 908px) {
    .btn-small-search {
      display: inline-flex; } }
  @media (min-width: 1150px) {
    .btn-small-search {
      display: none; } }

.search-wrapper {
  display: none;
  margin-left: 15px; }
  @media (min-width: 707px) {
    .search-wrapper {
      display: inline-flex;
      width: 200px; } }
  @media (min-width: 908px) {
    .search-wrapper {
      display: none; } }
  @media (min-width: 1150px) {
    .search-wrapper {
      display: inline-flex;
      width: 300px; } }
  @media (max-width: 707px) {
    .search-wrapper-alt {
      display: inline-flex; } }
  @media (min-width: 707px) {
    .search-wrapper-alt {
      display: none; } }

body {
  display: flex;
  justify-content: center;
  font-family: Poppins,sans-serif;
  width: 100%; }

.main-wrapper {
  display: grid;
  grid-template-columns: minmax(500px, 1200px);
  grid-template-rows: auto 1fr 990px;
  justify-content: start; }

.top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px; }

.menu-top {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 200px);
  background-color: #333645;
  text-transform: uppercase; }
  .menu-top::before {
    content: "";
    background-color: #333645;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1; }
  @media (max-width: 1150px) {
    .menu-top {
      justify-content: center;
      grid-template-columns: repeat(6, 160px); } }
  @media (max-width: 908px) {
    .menu-top {
      display: none; } }
  .menu-top .small {
    display: block;
    font-size: 0.7rem; }
  .menu-top a {
    height: 100px;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    color: white; }
    .menu-top a:hover .icon {
      color: white; }
  .menu-top-design:hover {
    background-color: #926FB1; }
  .menu-top-support:hover {
    background-color: #4183D7; }
  .menu-top-telecom:hover {
    background-color: #D64541; }
  .menu-top-software:hover {
    background-color: #67809F; }
  .menu-top-marketing:hover {
    background-color: #2ECC71; }
  .menu-top-security:hover {
    background-color: #F62459; }

.menu-top-under {
  display: none; }

.icon-design {
  color: #926FB1;
  font-size: 1.25rem; }
  .icon-design::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
.icon-support {
  color: #4183D7;
  font-size: 1.25rem; }
  .icon-support::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
.icon-telecom {
  color: #D64541;
  font-size: 1.25rem; }
  .icon-telecom::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
.icon-software {
  color: #67809F;
  font-size: 1.25rem; }
  .icon-software::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
.icon-marketing {
  color: #2ECC71;
  font-size: 1.25rem; }
  .icon-marketing::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
.icon-security {
  color: #F62459;
  font-size: 1.25rem; }
  .icon-security::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

/*# sourceMappingURL=style.css.map */
