@charset "UTF-8";
.top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px; }

.logo {
  width: auto;
  height: 63px;
  min-width: auto; }

.btn-phone, .btn-support, .btn-contact, .btn-hamburger, .btn-search, .btn-small-search, .article-design button, .article-support button, .article-telecom button, .article-software button, .article-marketing button, .article-security button, .article-training button, #about button, #news .item .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8em;
  color: white;
  font-size: 1.063rem !important;
  cursor: pointer;
  text-transform: uppercase;
  height: auto;
  min-width: 55px;
  min-height: 55px;
  text-decoration: none;
  border-radius: 3px;
  line-height: 36px;
  margin-left: 15px;
  white-space: normal; }

.btn-phone {
  display: none;
  font-size: 2rem;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: black;
  text-decoration: none; }
  .btn-phone::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  .btn-phone:hover {
    color: black;
    text-decoration: underline; }
  @media (max-width: 710px) {
    .btn-phone {
      display: inline-flex; } }

.btn-support {
  display: none;
  background-color: #4183d7;
  border-color: #4183d7;
  font-size: 1.25rem; }
  .btn-support:hover {
    color: white;
    background-color: #2a6ec6; }
  .btn-support::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  @media (min-width: 910px) {
    .btn-support {
      display: inline-flex; } }

.btn-contact {
  display: none;
  background-color: #999aa2;
  border-color: #999aa2;
  font-size: 1.25rem; }
  .btn-contact:hover {
    color: white;
    background-color: #84858f; }
  .btn-contact::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  @media (min-width: 910px) {
    .btn-contact {
      display: inline-flex; } }

.btn-hamburger {
  display: inline-flex;
  background-color: black;
  border-color: black;
  font-size: 1.5rem; }
  .btn-hamburger:hover {
    color: white; }
  .btn-hamburger::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

.btn-search {
  display: inline-flex;
  background-color: #999aa2;
  border-color: #999aa2;
  font-size: 1.25rem; }
  .btn-search:hover {
    color: white;
    background-color: #84858f; }
  .btn-search::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  .btn-search-alt {
    background-color: rgba(0, 0, 0, 0.1); }

.btn-small-search {
  display: none;
  background-color: #999aa2;
  border-color: #999aa2;
  font-size: 1.25rem; }
  .btn-small-search:hover {
    color: white;
    background-color: #84858f; }
  .btn-small-search::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }
  @media (min-width: 910px) {
    .btn-small-search {
      display: inline-flex; } }
  @media (min-width: 1150px) {
    .btn-small-search {
      display: none; } }

.search-wrapper {
  display: none;
  margin-left: 15px; }
  @media (min-width: 710px) {
    .search-wrapper {
      display: inline-flex;
      width: 200px; } }
  @media (min-width: 910px) {
    .search-wrapper {
      display: none; } }
  @media (min-width: 1150px) {
    .search-wrapper {
      display: inline-flex;
      width: 300px; } }
  @media (max-width: 710px) {
    .search-wrapper-alt {
      display: inline-flex; } }
  @media (min-width: 710px) {
    .search-wrapper-alt {
      display: none; } }

.menu-top {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 200px);
  align-content: center;
  height: 100px;
  background-color: #333645;
  text-transform: uppercase; }
  .menu-top::before {
    content: "";
    background-color: #333645;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1; }
  @media (max-width: 1150px) {
    .menu-top {
      justify-content: center;
      grid-template-columns: repeat(6, 160px); } }
  @media (max-width: 910px) {
    .menu-top {
      display: none; } }
  .menu-top .small {
    display: block;
    font-size: 0.7rem; }
  .menu-top .submenu {
    display: none; }

.wrapper-design {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 200px; }
  @media (max-width: 1150px) {
    .wrapper-design {
      width: 160px; } }
  .wrapper-design .button-design {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; }
  .wrapper-design:hover {
    color: white;
    background-color: #926FB1; }
    .wrapper-design:hover .icon {
      color: white; }
    .wrapper-design:hover .submenu {
      display: flex;
      flex-direction: row;
      position: absolute;
      justify-content: space-between;
      top: 100px;
      left: 0;
      width: 1200px;
      z-index: 1;
      font-size: 1rem;
      height: 45px;
      background-color: #79539a; }
      .wrapper-design:hover .submenu a {
        color: white;
        align-self: center;
        text-decoration: none; }
      @media (max-width: 1150px) {
        .wrapper-design:hover .submenu {
          width: calc(6*160px); } }
      .wrapper-design:hover .submenu::before {
        content: "";
        background-color: #79539a;
        position: absolute;
        height: 100%;
        width: 200vw;
        left: -100vw;
        z-index: -1; }

.icon-design {
  color: #926FB1;
  font-size: 1.25rem; }
  .icon-design::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

.wrapper-support {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 200px; }
  @media (max-width: 1150px) {
    .wrapper-support {
      width: 160px; } }
  .wrapper-support .button-support {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; }
  .wrapper-support:hover {
    color: white;
    background-color: #4183D7; }
    .wrapper-support:hover .icon {
      color: white; }
    .wrapper-support:hover .submenu {
      display: flex;
      flex-direction: row;
      position: absolute;
      justify-content: space-between;
      top: 100px;
      left: 0;
      width: 1200px;
      z-index: 1;
      font-size: 1rem;
      height: 45px;
      background-color: #286abd; }
      .wrapper-support:hover .submenu a {
        color: white;
        align-self: center;
        text-decoration: none; }
      @media (max-width: 1150px) {
        .wrapper-support:hover .submenu {
          width: calc(6*160px); } }
      .wrapper-support:hover .submenu::before {
        content: "";
        background-color: #286abd;
        position: absolute;
        height: 100%;
        width: 200vw;
        left: -100vw;
        z-index: -1; }

.icon-support {
  color: #4183D7;
  font-size: 1.25rem; }
  .icon-support::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

.wrapper-telecom {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 200px; }
  @media (max-width: 1150px) {
    .wrapper-telecom {
      width: 160px; } }
  .wrapper-telecom .button-telecom {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; }
  .wrapper-telecom:hover {
    color: white;
    background-color: #D64541; }
    .wrapper-telecom:hover .icon {
      color: white; }
    .wrapper-telecom:hover .submenu {
      display: flex;
      flex-direction: row;
      position: absolute;
      justify-content: space-between;
      top: 100px;
      left: 0;
      width: 1200px;
      z-index: 1;
      font-size: 1rem;
      height: 45px;
      background-color: #bc2c28; }
      .wrapper-telecom:hover .submenu a {
        color: white;
        align-self: center;
        text-decoration: none; }
      @media (max-width: 1150px) {
        .wrapper-telecom:hover .submenu {
          width: calc(6*160px); } }
      .wrapper-telecom:hover .submenu::before {
        content: "";
        background-color: #bc2c28;
        position: absolute;
        height: 100%;
        width: 200vw;
        left: -100vw;
        z-index: -1; }

.icon-telecom {
  color: #D64541;
  font-size: 1.25rem;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  .icon-telecom::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

.wrapper-software {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 200px; }
  @media (max-width: 1150px) {
    .wrapper-software {
      width: 160px; } }
  .wrapper-software .button-software {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; }
  .wrapper-software:hover {
    color: white;
    background-color: #67809F; }
    .wrapper-software:hover .icon {
      color: white; }
    .wrapper-software:hover .submenu {
      display: flex;
      flex-direction: row;
      position: absolute;
      justify-content: space-between;
      top: 100px;
      left: 0;
      width: 1200px;
      z-index: 1;
      font-size: 1rem;
      height: 45px;
      background-color: #526781; }
      .wrapper-software:hover .submenu a {
        color: white;
        align-self: center;
        text-decoration: none; }
      @media (max-width: 1150px) {
        .wrapper-software:hover .submenu {
          width: calc(6*160px); } }
      .wrapper-software:hover .submenu::before {
        content: "";
        background-color: #526781;
        position: absolute;
        height: 100%;
        width: 200vw;
        left: -100vw;
        z-index: -1; }

.icon-software {
  color: #67809F;
  font-size: 1.25rem; }
  .icon-software::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

.wrapper-marketing {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 200px; }
  @media (max-width: 1150px) {
    .wrapper-marketing {
      width: 160px; } }
  .wrapper-marketing .button-marketing {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; }
  .wrapper-marketing:hover {
    color: white;
    background-color: #2ECC71; }
    .wrapper-marketing:hover .icon {
      color: white; }
    .wrapper-marketing:hover .submenu {
      display: flex;
      flex-direction: row;
      position: absolute;
      justify-content: space-between;
      top: 100px;
      left: 0;
      width: 1200px;
      z-index: 1;
      font-size: 1rem;
      height: 45px;
      background-color: #25a25a; }
      .wrapper-marketing:hover .submenu a {
        color: white;
        align-self: center;
        text-decoration: none; }
      @media (max-width: 1150px) {
        .wrapper-marketing:hover .submenu {
          width: calc(6*160px); } }
      .wrapper-marketing:hover .submenu::before {
        content: "";
        background-color: #25a25a;
        position: absolute;
        height: 100%;
        width: 200vw;
        left: -100vw;
        z-index: -1; }

.icon-marketing {
  color: #2ECC71;
  font-size: 1.25rem; }
  .icon-marketing::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

.wrapper-security {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 200px; }
  @media (max-width: 1150px) {
    .wrapper-security {
      width: 160px; } }
  .wrapper-security .button-security {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; }
  .wrapper-security:hover {
    color: white;
    background-color: #F62459; }
    .wrapper-security:hover .icon {
      color: white; }
    .wrapper-security:hover .submenu {
      display: flex;
      flex-direction: row;
      position: absolute;
      justify-content: space-between;
      top: 100px;
      left: 0;
      width: 1200px;
      z-index: 1;
      font-size: 1rem;
      height: 45px;
      background-color: #de093f; }
      .wrapper-security:hover .submenu a {
        color: white;
        align-self: center;
        text-decoration: none; }
      @media (max-width: 1150px) {
        .wrapper-security:hover .submenu {
          width: calc(6*160px); } }
      .wrapper-security:hover .submenu::before {
        content: "";
        background-color: #de093f;
        position: absolute;
        height: 100%;
        width: 200vw;
        left: -100vw;
        z-index: -1; }

.icon-security {
  color: #F62459;
  font-size: 1.25rem; }
  .icon-security::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: ""; }

#hero-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: min(calc(((100vw - 1200px)*-1)/2), 0px);
  height: calc(100vh - 220px);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), black), url("../img/sliding/home-3wAI.jpg");
  color: white; }
  @media (max-width: 710px) {
    #hero-slider {
      top: 25px; } }
  #hero-slider h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px; }
  #hero-slider p {
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin-bottom: 25px; }
  #hero-slider a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #926FB1;
    min-height: 65px;
    min-width: 225px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.25rem; }
    #hero-slider a:hover {
      background-color: #79539a; }
    #hero-slider a::after {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: ""; }
  @media (max-width: 910px) {
    #hero-slider .hero-item {
      align-self: center; } }
  @media (min-width: 910px) {
    #hero-slider .hero-item {
      align-self: flex-start;
      margin-left: 12%; } }
  @media (min-width: 1150px) {
    #hero-slider .hero-item {
      align-self: flex-start;
      margin-left: calc((100vw - 1200px)/2); } }

.articles.container {
  margin-top: 50px;
  align-content: center; }

.articles a {
  text-decoration: none; }

.article-design, .article-support, .article-telecom, .article-software, .article-marketing, .article-security, .article-training {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  font-size: .8125rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #333645; }
  .article-design h2, .article-support h2, .article-telecom h2, .article-software h2, .article-marketing h2, .article-security h2, .article-training h2 {
    font-size: 1.125rem; }
  .article-design hr, .article-support hr, .article-telecom hr, .article-software hr, .article-marketing hr, .article-security hr, .article-training hr {
    width: 25px;
    border: solid 2.5px black; }
  .article-design p, .article-support p, .article-telecom p, .article-software p, .article-marketing p, .article-security p, .article-training p {
    text-align: center;
    font-size: .8125rem;
    line-height: 1.375rem;
    font-weight: 400; }
  .article-design button, .article-support button, .article-telecom button, .article-software button, .article-marketing button, .article-security button, .article-training button {
    border: none; }

.article-design::before, .article-design:hover::before, .article-support::before, .article-support:hover::before, .article-telecom::before, .article-telecom:hover::before, .article-software::before, .article-software:hover::before, .article-marketing::before, .article-marketing:hover::before, .article-security::before, .article-security:hover::before, .article-training::before, .article-training:hover::before {
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 15px;
  height: 60px;
  width: 60px;
  color: white; }

.article-design {
  font-size: 1.25rem; }
  .article-design button {
    background-color: #926FB1; }
  .article-design::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: "";
    background-color: #926FB1; }
  .article-design:hover {
    color: white;
    background-color: #926FB1;
    font-size: 1.25rem; }
    .article-design:hover::before {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: "";
      color: #926FB1;
      background-color: white; }
    .article-design:hover hr {
      border: solid 2.5px white; }
    .article-design:hover button {
      background-color: white;
      color: #926FB1; }

.article-support {
  font-size: 1.25rem; }
  .article-support button {
    background-color: #4183D7; }
  .article-support::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: "";
    background-color: #4183D7; }
  .article-support:hover {
    color: white;
    background-color: #4183D7;
    font-size: 1.25rem; }
    .article-support:hover::before {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: "";
      color: #4183D7;
      background-color: white; }
    .article-support:hover hr {
      border: solid 2.5px white; }
    .article-support:hover button {
      background-color: white;
      color: #4183D7; }

.article-telecom {
  font-size: 1.25rem; }
  .article-telecom button {
    background-color: #D64541; }
  .article-telecom::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: "";
    background-color: #D64541;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .article-telecom:hover {
    color: white;
    background-color: #D64541;
    font-size: 1.25rem; }
    .article-telecom:hover::before {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: "";
      color: #D64541;
      background-color: white; }
    .article-telecom:hover hr {
      border: solid 2.5px white; }
    .article-telecom:hover button {
      background-color: white;
      color: #D64541; }

.article-software {
  font-size: 1.25rem; }
  .article-software button {
    background-color: #67809F; }
  .article-software::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: "";
    background-color: #67809F; }
  .article-software:hover {
    color: white;
    background-color: #67809F;
    font-size: 1.25rem; }
    .article-software:hover::before {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: "";
      color: #67809F;
      background-color: white; }
    .article-software:hover hr {
      border: solid 2.5px white; }
    .article-software:hover button {
      background-color: white;
      color: #67809F; }

.article-marketing {
  font-size: 1.25rem; }
  .article-marketing button {
    background-color: #2ECC71; }
  .article-marketing::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: "";
    background-color: #2ECC71; }
  .article-marketing:hover {
    color: white;
    background-color: #2ECC71;
    font-size: 1.25rem; }
    .article-marketing:hover::before {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: "";
      color: #2ECC71;
      background-color: white; }
    .article-marketing:hover hr {
      border: solid 2.5px white; }
    .article-marketing:hover button {
      background-color: white;
      color: #2ECC71; }

.article-security {
  font-size: 1.25rem; }
  .article-security button {
    background-color: #F62459; }
  .article-security::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: "";
    background-color: #F62459; }
  .article-security:hover {
    color: white;
    background-color: #F62459;
    font-size: 1.25rem; }
    .article-security:hover::before {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: "";
      color: #F62459;
      background-color: white; }
    .article-security:hover hr {
      border: solid 2.5px white; }
    .article-security:hover button {
      background-color: white;
      color: #F62459; }

.article-training {
  font-size: 1.25rem; }
  .article-training button {
    background-color: #926FB1; }
  .article-training::before {
    display: flex;
    justify-content: center;
    font-family: "FontAwesome";
    content: "";
    background-color: #926FB1; }
  .article-training:hover {
    color: white;
    background-color: #926FB1;
    font-size: 1.25rem; }
    .article-training:hover::before {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: "";
      color: #926FB1;
      background-color: white; }
    .article-training:hover hr {
      border: solid 2.5px white; }
    .article-training:hover button {
      background-color: white;
      color: #926FB1; }

#about {
  position: relative;
  color: white;
  padding-left: 3.2rem;
  padding-right: 3.2rem; }
  #about::before {
    content: "";
    background-color: #333645;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
    background-image: url("../img/branded.png");
    background-repeat: no-repeat;
    background-position: 95vw center;
    background-size: auto 600px; }
  #about h1 {
    padding-top: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase; }
  #about p {
    font-size: 1rem;
    line-height: 1.875rem;
    margin-bottom: 25px; }
  #about button {
    margin-left: 0;
    margin-bottom: 3rem;
    color: #333645;
    background-color: white;
    font-size: 1.25rem; }
    #about button::after {
      display: flex;
      justify-content: center;
      font-family: "FontAwesome";
      content: "";
      margin-left: 1rem; }
    #about button:hover {
      background-color: #EBEBEB; }

body {
  font-family: Poppins,sans-serif; }

.main-wrapper {
  display: grid;
  grid-template-columns: minmax(500px, 1200px);
  grid-template-rows: auto auto 990px;
  justify-content: center; }

.latest {
  position: relative;
  height: 110px; }
  .latest::before {
    content: "";
    background-color: white;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1; }
  .latest div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
    height: 110px;
    color: #333645;
    border-bottom: #333645 solid 5px;
    width: fit-content; }

#news {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 50px 0 50px 0;
  height: fit-content;
  width: 100%; }
  #news .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    min-width: 100%;
    max-height: 710px;
    border: solid 1px #ccc;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1); }
    @media (min-width: 710px) {
      #news .item {
        max-width: 345px;
        min-height: 570px; } }
    @media (min-width: 910px) {
      #news .item {
        max-width: 440px;
        min-height: 630px; } }
    @media (min-width: 1150px) {
      #news .item {
        min-height: 630px; } }
    #news .item .img-constrainer {
      overflow: hidden;
      width: 100%; }
    #news .item img.item-img {
      height: auto;
      width: 100%; }
      @media (min-width: 710px) {
        #news .item img.item-img {
          transform-origin: 50% 50%;
          transition-duration: .25s; }
          #news .item img.item-img:hover {
            transform: scale(1.1);
            opacity: 0.7; } }
    #news .item h2 {
      margin-top: 30px;
      color: #4183d7;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
      padding: 0 30px; }
    #news .item p {
      margin-top: auto;
      line-height: 1.375rem;
      font-size: .8125rem;
      padding: 0 30px; }
    #news .item .button {
      background-color: #4183d7;
      width: fit-content;
      margin-top: auto;
      margin-left: 30px;
      margin-bottom: 30px; }
      #news .item .button:hover {
        background-color: #2a6ec6;
        color: white; }
    #news .item hr {
      width: 85%;
      align-self: center;
      margin-top: 0; }
    #news .item .logo {
      margin-top: 20px;
      margin-bottom: 20px; }
      #news .item .logo img {
        margin: 0px 15px 0px 30px;
        float: left;
        width: 47px;
        height: 47px; }
      #news .item .logo .cite-container {
        margin-left: 20px; }
      #news .item .logo .date {
        margin-top: 0; }

#sponsors {
  position: relative;
  top: 50px; }
  #sponsors::before {
    content: "";
    background-color: blue;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
    box-shadow: inset 0 5px 35px rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=style.css.map */
