@import "partials/variables";
@import "partials/maps";
@import "partials/mixins";
@import "partials/lists";

@import "partials/page-wrapper-builder";
@import "partials/section-top-bar";
@import "partials/section-top-menu";
@import "partials/section-slider";
@import "partials/section-article";
@import "partials/section-about";
@import "partials/section-news";


body{
    font-family: Poppins,sans-serif;
}


#sponsors{
    display: flex;
    justify-content: space-around;
    // align-items: center;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
    @media(min-width: 710px){  // Set the width of the space-around container at each screen size to emulate layout
        width: 710px;
    }
    @media(min-width: 910px){
        width: 955px;
    }
    @media(min-width: 1150px){
        width: 1180px;
    }                               // end
    @each $name in $sponsors{
        .#{$name}{
            justify-content: center;
            position: relative;
            display: inline-flex;
            width: fit-content;
            height: fit-content;
            & img{
                width: auto;
                @media(min-width: 710px){   // Set the height of the sponsor image at each screen size. if I set the width and then auto the height the images don't line up. 
                    height: 47px;
                }
               @media(min-width: 910px){
                    height: 64px;
                }
                @media(min-width: 1150px){
                    height: 70px;
                }
            }
            & .over{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
            }
            &:hover .over{
                display: inline-flex;
            }
        }
    }
}