@import "partials/variables";
@import "partials/maps";
@import "partials/mixins";
@import "partials/lists";

@import "partials/page-wrapper-builder";
@import "partials/section-top-bar";
@import "partials/section-top-menu";
@import "partials/section-slider";
@import "partials/section-article";
@import "partials/section-about";
@import "partials/section-news";


body{
    font-family: Poppins,sans-serif;
}


#sponsors{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
    // border: 2px solid pink;
    @include MQ('1','and-wider'){
        width: 700px;
    }
    @include MQ('2','and-wider'){
        width: 880px;
    }
    @include MQ('3','and-wider'){
        width: 100%;
    }
    img{
        @include MQ('1','and-wider'){
            width: 75%;
        }
        @include MQ('2','and-wider'){
            width:80%;
        }
        @include MQ('3','and-wider'){
            width: 100%;
        }
        height: auto;

    }
}