

// @mixin btn($icon,$color:black,$icon-pos:left){
//     $button-link-color: $color;
//     padding: 10px;
// }

body{
    display:flex;
    justify-content: center;
}
.main-wrapper {
    display: grid;
    grid-template-columns: minmax(385px,1200px);
    grid-template-rows: auto 1fr 990px;
    justify-content: start;
}
.top-bar{
display:inline-block;
    form{
        display: inline;
    }
}

.top-menu{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;

}

.btn{
    &-support{
    background-color: #4183d7;
    border-color: #4183d7;
        &:hover{
            background-color: darken($color: #4183d7, $amount: 10);
        }
        &::before{
            font-family: "FontAwesome"; 
            content: "\f8cc";
        }
    }
    &-contact{
        background-color: #999aa2;
        border-color: #999aa2;
            &:hover{
                background-color: darken($color: #999aa2, $amount: 10);
            }
            &::before{
                font-family: "FontAwesome"; 
                content: "\f1d8";
            }
        }
}


