@import "partials/variables";
@import "partials/maps";
@import "partials/mixins";


// @mixin btn($icon,$color:black,$icon-pos:left){
//     $button-link-color: $color;
//     padding: 10px;
// }

body{
    display:flex;
    justify-content: center;
    font-family: Poppins,sans-serif;
}
.main-wrapper {
    display: grid;
    grid-template-columns: minmax(500px,1200px);
    grid-template-rows: auto 1fr 990px;
    justify-content: start;
}
.top-bar{
    display:flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.top-menu{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  
}

%btn{
    color: white;
    font-size: 1.125rem;
    // text-align: center;
    // vertical-align: middle;

    cursor: pointer;
    text-transform: uppercase;
    height: 56px;
    padding:10px;
}
.btn-phone{
    @extend %btn;
    @include place-awesome-icon('phone',$size: $phone-icon-size);
    @include rotate-phone-icon;
    color: black;
    text-decoration: none;
    &:hover{
        color: black;
        text-decoration: underline; 
    }
    @media(min-width: 767px){
        display: hidden;
    }
} 
.btn-support{
    @extend %btn;
    @include build-button($bg_color: $btn-blue, $hv_bg_color: $btn-blue-hvr);
    @include place-awesome-icon('mouse');
}
.btn-contact{
    @extend %btn;
    @include build-button($bg_color: $btn-grey, $hv_bg_color: $btn-grey-hvr);
    @include place-awesome-icon('plane');
}
.btn-search{
    @extend %btn;
    @include build-button($bg_color: $btn-grey, $hv_bg_color: $btn-grey-hvr);
    @include place-awesome-icon('search');
    &-field{
        // width:auto;
        @media(min-width: 767px){
            display: block;
            background-color: darkorange;
        }
    }
}




