
 #cookies-policy{
    position: absolute;
    height: 500px;
    width: 600px;
    top: calc(50% - (500px / 2));
    left: calc(50% - (600px / 2));
    background: white;
    z-index: 11;
    overflow-y:auto;
    padding: 15px;
    border-radius: 5px;
    display:none;
    @include MQ('1','and-smaller'){
        height: auto;
        max-height: 90vh;
        width: 90vw;
        top: 5vh;
        left: calc(50% - (90vw / 2));

    }
    h1{
        font-size: 1.7rem;
        font-weight: 500;
        margin: 0;
    }
    p{
        line-height: 1.875rem;
        margin-bottom: 25px;
    }
    .buttons{
        display:flex;
        justify-content: space-around;
        align-items: center;
        @include MQ('1','and-smaller'){
            flex-direction: column;
            justify-content: center;
        }
    }
    %responsive{
        @include MQ('1','and-smaller'){
            width: 100%;
            margin: 10px auto;
        }
    }
    .settings-button{
        @extend %responsive;
        @include build-button($mode: darken, $bg_c: $btn-grey, $height: 55px, $font_s: 1.125rem);
    }
    .accept-button{
        @extend %responsive;
        @include build-button($mode: darken, $bg_c: $color-design, $height: 55px, $font_s: 1.125rem);
    }
 }
