
$menu_color_map:(
    'design': $color-design,
    'support':$color-support,
    'telecom':$color-telecom,
    'software':$color-software,
    'marketing':$color-marketing,
    'security':$color-security);

    // Used with the @mixin place-awesome-icon
$awesome_icon_map:(
    'plane':'\f1d8',
    'mouse':'\f8cc',
    'search':'\f002',
    'hamburger':'\f0c9',
    'design':'\f121',
    'support':'\f108',
    'telecom':'\f2a0',
    'software':'\f00a',
    'marketing':'\f681',
    'security':'\f3ed',
    'arrow':'\f061',
    );

    // Used with the @mixin MQ. Seems pointless but is to validate the parameter and make debugging typos easier.
$MQ_func_map:(
    'and-bigger':'min-width',
    'and-smaller':'max-width');

    // Used with the @mixin MQ
$MQ_breakpoints_map:(
    '1':'707px',
    '2':'908px',
    '3':'1150px');
