

$menu_color_map:(
            'design': $color-design,
            'support':$color-support,
            'telecom':$color-telecom,
            'software':$color-software,
            'marketing':$color-marketing,
            'security':$color-security,
);

$article_color_map:(
            'design': $color-design,
            'support':$color-support,
            'telecom':$color-telecom,
            'software':$color-software,
            'marketing':$color-marketing,
            'security':$color-security,
            'training':$color-design,
);

$social_media_color_map:(
            'facebook':$color-facebook,
            'twitter':$color-twitter,
            'instagram':$color-instagram,
            'linkedin':$color-linkedin,
);

    // Used with the @mixin place-awesome-icon
$awesome_icon_map:(
            'plane':'\f1d8',
            'mouse':'\f8cc',
            'search':'\f002',
            'hamburger':'\f0c9',
            'design':'\f121',
            'support':'\f108',
            'telecom':'\f2a0',
            'software':'\f00a',
            'marketing':'\f681',
            'security':'\f3ed',
            'arrow':'\f061',
            'training':'\f19d',
            'facebook':'\f39e',
            'twitter':'\f099',
            'instagram':'\f16d',
            'linkedin':'\f0e1',
);

    // Used with the @mixin MQ. Seems pointless but is to validate the parameter and make debugging typos easier.
$MQ_func_map:(
            'and-wider':'min-width',
            'and-smaller':'max-width',
);

    // Used with the @mixin MQ
$MQ_breakpoints_map:(
            '0':'0px',
            '1':'767px',
            '2':'992px',
            '3':'1260px',
            '4':'1400px',
);