
#hero-slider{
    width: 100%;
    %slider{
        @include flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 210px);
        z-index: 0;
        color: white;
        h1{
            font-size: 3rem;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 25px;
            line-height: 1.1;
            letter-spacing: normal;
            padding: 0 6px;
        }
        p{
            font-size: 1.25rem;
            line-height: 2.25rem;
            margin-bottom: 35px;
        }
        a{
            @include flex;
            justify-content: right;
            align-items: center;
            @include place-awesome-icon('arrow', $orientation: 'after'){
                margin: 0 0 0 15px;
            }
        }
        .hero-item{
        align-self: center;
        text-align: center;
        margin: 0 20px;
            @include MQ('2','and-wider'){
                align-self: flex-start;
                margin-left: 80px;
                text-align: left;
            }
            @include MQ('4','and-wider'){
                align-self: flex-start;
                margin-left: 18vw;
                text-align: left;
            }
        }
    }

    .owl-dots{
        position: relative;
        width: 300px;
        left: calc(50vw - 150px);
        bottom: 85px;
        @media screen and(max-width: 412px){
            bottom: 40px;
        }
        .owl-dot{
            span{
                background-color: rgba(214, 214, 214, .5);
                width: 11px;
                height: 11px;
                margin: 0 10px;
                &:hover{ background-color: #869791; }
            }
        }
        .owl-dot.active{
            border: solid 2px White;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            margin: 0 11.5px;
            span{
                background-color: #fff;
                position: relative;
                top:0px;
                left:-6.5px;
            }
        }
    }

    @each $name, $url in $slider_URL_map{
        .slider-#{$name}{
            @extend %slider;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: linear-gradient(to left, rgba(200, 200, 200, .1), rgba(0, 0, 0, 1)),
            url("../img/sliding/#{$url}");
        }
    }
    @each $name, $color in $menu_color_map{
        .slider-#{$name}{
            a.hero-item{
            @include build-button($mode: darken, $bg_c: $color, $height: 63px, $font_s: 1.25rem);
            }
        }
    } 
}




