


@keyframes menuSlideDown{
    0%{ top: -221px;}
    50%{top: -221px;}
    100%{top: 0;}
}
@keyframes menuSlideUp{
    0%{ top: 0;}
    50%{top: 0;}
    100%{top: -221px;}
}

// used to create classes to relocate and animate the section for a slide down effect triggered by JS
// position the section above the viewport
.prepare{
    position: relative;
    top: -221px;
    left: 0;
    right: 0;
    z-index: 50;
}

.execute{
    position :fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1900; // high value necessary because of the leaflet.js map control overlays so the sticky menu appears above.
    animation-name: menuSlideDown;
    animation-duration: 600ms;
}

.up{
    position :fixed;
    top: -221px;
    left: 0;
    right: 0;
    z-index: 1900; // high value necessary because of the leaflet.js map control overlays so the sticky menu appears above. 
    animation-name: menuSlideUp;
    animation-duration: 600ms;
}