
#latest{
    @include flex;
    justify-content: left;
    @include constrain_at_breakpoints;
    height:110px;
    & div{
        @include flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        height: 110px;
        color: #333645;
        border-bottom: #333645 solid 5px;
        width:fit-content;
        margin-left: 15px;
    }
}

#news{
    @include flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 50px 10px;
    height: fit-content;
    @include constrain_at_breakpoints;
    .item{
        @include flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        border: solid 1px #ccc;
        box-shadow: 0 3px 35px rgba(0,0,0,0.1);
        height: 100%;
        cursor: pointer;
        // Target IE to add margin as bootstrap grid gutters are not added
        @include targetIEonly{
            margin-left: 15px;
            margin-right: 15px;
        }
        .img-constrainer{
            position: relative; // relative because a child .catagory has to be absolute.
            overflow: hidden;
            width: 100%;
            .category{
                // @include build_category('news');
                display: flex;
                justify-self: center;
                justify-items: center;
                align-self: center;
                align-items: center;
                position: absolute;
                right: 0;
                top: 10px;
                height: 30px;
                width: fit-content;
                color: white;
                background-color: #4183d7;
                font-size: 0.75rem;
                font-weight: 600;
                letter-spacing: 0.4px;
                padding: 0 15px;
                text-transform: uppercase;
                z-index: 1;
                &:hover{
                    text-decoration: underline;
                }
            }
            height: auto;
        }
        img.item-img{
            height: auto; //
            width: 100%;
            @include MQ('2','and-wider'){
                transform-origin: 50% 50%;
                transition-duration: .25s;
                -ms-transform-origin: 50% 50%;
                -ms-transition-duration: .25s;
                &:hover{
                transform: scale(1.1);
                opacity: 0.7;
                -ms-transform: scale(1.1);
                -ms-opacity: 0.7;
                }
            }
        }
        h2{
            // color: #4183d7;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;
            letter-spacing: 0.4px;
            margin: 30px;
            &:hover{
                text-decoration: underline;
            }
        }
        p{
            line-height: 1.375rem;
            font-size: .8125rem;
            margin: 0 30px 30px;
        }
        .button{
            @include build-button($bg_c:#4183d7, $text_c: white, $hv_text_c: white, $height: 48px, $font_s: 1.063rem){
                @include flex;
                font-weight: 400;
                padding: 5px 15px;
            }
            margin: auto auto 30px 30px;
            width: fit-content;
            max-width: 150px;
            &:hover{
                background-color: darken($color: #4183d7, $amount: 8);
                color: white;
            }
        }
        .url, a{
            text-decoration: none!important;
        }
        hr{
            width: 85%;
            align-self: center;
            margin: 0;
        }
        .logo{
            margin: 30px;
            img{
                margin-right: 20px;
                float: left;
                width: 47px;
                height: 47px;
                border-radius: 50%;
            }
            .cite-container{
                margin-right: 20px;    
            }
            .date{
                margin: 0;
            }
        }
    }
}
