
#articles{
    display:flex;
    justify-content: center;
    width: $page-width;
    @include constrain_at_breakpoints;
    align-self: center;
    padding: 50px 0;
    a{
        text-decoration: none;
    }
}

%article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    font-size: .8125rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #333645;

    h2{
        font-size: 1.125rem;
        margin: 13px 0 0;
        // font-weight: 400;
    }
    hr{ // Most of the sytles for this class are set in the html using a DRY class located in helpers.scss
        margin: 11px 0 0!important;
    }
    p{
        text-align: center;
        font-size: .8125rem;
        line-height: 1.375rem;
        // font-weight: 400;
        margin: 11px 0 15px;
    }
    button{
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.063rem;
        // font-weight:400;
        // line-height: 35px;
        height: 45px;
        width: auto;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 3px;
        white-space: normal;
        padding: 0 20px;
        border: none;
        margin-top: auto;
    }
}

%common-article-icon{
    align-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: white;
}

@each $name, $color in $article_color_map{
    .article-#{$name}{
        @extend %article;
        button{
            background-color: #{$color};
        }
        @include place-awesome-icon(#{$name}){
            @extend %common-article-icon;
            background-color: #{$color};
            @if $name=="telecom"{
                @include rotate-phone-icon;
            }
        }
        &:hover{
            color:white;
            background-color: #{$color};
            @include place-awesome-icon(#{$name},$size: 1.3rem){
                @extend %common-article-icon;
                color: #{$color};
                background-color: white;
            }
            hr{
                border: solid 2.5px white;
            }
            button{
                background-color: white;
                color: #{$color};
            }
        }
    }
}

