
#about{
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    color: white;
    padding: 50px 15px;
    @include constrain_at_breakpoints;
    h1{
        padding: 0 0 30px;
        margin: 0;
        font-size: 2.25rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    p{
        padding: 0 5px;
        font-size: 1rem;
        font-weight: 520;
        line-height: 1.875rem;
        margin-bottom: 25px;
        letter-spacing: .4px;
    }
    button{
        margin: 0 5px;
        @include build-button($bg_c:white, $text_c: #333645, $hv_text_c: #333645, $height: 50px, $font_s: 1.125rem){
            @include flex;
        }
        @include place-awesome-icon('arrow',$orientation:'after'){
            margin: 0 0 0 15px;
        }
    }
}
