#top-bar{
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    min-height: 110px;
    @include constrain_at_breakpoints;
    padding: 20px calc(15px + var(--scrollbar-width)) 0 15px;
    .button-area-wrapper{
        @include flex;
        justify-content: space-between;
        align-items: center; 
        flex-wrap: nowrap;
        width: 100%;
    }
    .logo{
        width: 100%;
        height: auto;
        max-height: 65px;
        min-width: 100px;
    }
    .btn-phone{
        display: inline-flex;
        align-items: center;
        text-decoration: none; 
        color: black;
        height: 60px;
        margin: 0 5px 0 20px;
        @include place-awesome-icon('telecom',$size: $large-icon-size!important){
            @include rotate-phone-icon;
        }
        &:hover{
            text-decoration: underline; 
        }
        @include MQ('1','and-wider'){
            display: none;
        }
        
    } 
    .btn-support{
        display: none;
        @include place-awesome-icon('mouse'){
            margin: 0 5px 0;
        }
        @include build-button($mode: darken, $bg_c:#4183d7);
        @include MQ('2','and-wider'){
            display:inline-flex;
        }
    }
    .btn-contact{
        display: none;
        @include place-awesome-icon('plane'){
            margin: 0 5px 0;
        }
        @include build-button($mode: darken, $bg_c:#999aa2){
            margin: 0 0 0 15px;
        }
        @include MQ('2','and-wider'){
            display:inline-flex;
        }
    }
    .btn-small-search{
        display: none;
        @include place-awesome-icon('search');
        @include build-button($mode: darken, $bg_c:#999aa2, $font_s: 23px){
            width: 55px;
            margin: 0 0 0 15px;
        }
        @include MQ('2','and-wider'){
            display:inline-flex;
        }
        @include MQ('3','and-wider'){
            display: none;
        }
    }
    .btn-search{
        display:inline-flex;
        @include place-awesome-icon('search');
        @include build-button($mode: darken, $bg_c:#999aa2){
            width: 55px;
        }
    }
    .input{
        padding: 5px 15px;
        border: 1px solid #e5e5e5;
        width: 240px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:focus{
            border-color: #5bc0de;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.8), 0 0 8px rgba(91, 192, 222, 0.6);
        }   
    }
    .search-wrapper-alt{
        width: 100vw;
    }
    .search-alt{ 
        position: relative;
        background-color: rgba($color: #000000, $alpha: 0.1);
        color:#555;
        outline: 1px solid hsla(0,0%,100%,.2);
        border: 2px solid rgba(0,0,0,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        width: 100%;
        height: 47px;
        font-size: 14px;
        line-height: 1.42857143;
        margin:  15px 0;
        padding: 0 15px 0 15px;
    }
    .btn-search-alt{
        display: inline-flex;
        position: absolute;
        right: 5px;
        background-color: transparent;
        border: solid 1px pink;
        outline: none;
        border: none;
        height: 47px;
        width: 47px;
        margin:  15px 0 0;
        @include place-awesome-icon('search','after'){
        @include flex;
        justify-self: center;
        align-self: center;
        color: #333645;
        font-size: 20px;
        }
    }
    .btn-hamburger{
        display: inline-flex;
        flex-direction: column;
        @include build-button($bg_c: #333645){
            margin: 0 0 0 15px;
            width: 66px;
        }
        %bar{
            position: relative;
            left: 0;
            width: 33px;
            height: 3px;
            background-color: white;
            border-radius: 0;
            padding: 0;
            margin: 0;
        }
        #bar-top{
            @extend %bar;
            top: -6px;
        }
        #bar-middle{
            @extend %bar;
            top: 0;
        }
        #bar-bottom{
            @extend %bar;
            top: 6px;
        }
        @keyframes hamburger-animation-to-X-top{
            0%{}
            33%{ top: 3px; }
            100%{ top: 3px; transform: rotate(45deg);}
        }
        @keyframes hamburger-animation-to-X-middle{
            0%{}
            33%{ opacity: 0; }
            100%{ opacity: 0; }
        }
        @keyframes hamburger-animation-to-X-bottom{
            0%{}
            33%{ top: -3px; }
            100%{ top: -3px; transform: rotate(135deg); }
        }
        .hamburger-animation-to-X-top{
            animation: hamburger-animation-to-X-top 400ms linear;
            animation-fill-mode: forwards;
        }
        .hamburger-animation-to-X-middle{
            animation: hamburger-animation-to-X-middle 400ms linear;
            animation-fill-mode: forwards;
        }
        .hamburger-animation-to-X-bottom{
            animation: hamburger-animation-to-X-bottom 400ms linear;
            animation-fill-mode: forwards;
        }

        @keyframes hamburger-animation-to-default-top{
            0%{ top: 3px; transform: rotate(45deg); }
            33%{ top: 3px; }
            100%{ top: -6px; }
        }
        @keyframes hamburger-animation-to-default-middle{
            0%{ opacity: 0; }
            33%{ opacity: 0; }
            100%{ opacity: 1; }
        }
        @keyframes hamburger-animation-to-default-bottom{
            0%{ top: -3px; transform: rotate(135deg); }
            33%{ top: -3px; }
            100%{ top: 6px; }
        }
        .hamburger-animation-to-default-top{
            animation: hamburger-animation-to-default-top 400ms linear;
            animation-fill-mode: forwards;
        }
        .hamburger-animation-to-default-middle{
            animation: hamburger-animation-to-default-middle 400ms linear;
            animation-fill-mode: forwards;
        }
        .hamburger-animation-to-default-bottom{
            animation: hamburger-animation-to-default-bottom 400ms linear;
            animation-fill-mode: forwards;
        }
        .title{
            position: relative;
            line-height: 1;
            font-size: 12px;
            bottom: -12px;
            left: 0;
        }
    }
    .search-wrapper{
        margin-left:15px;
        flex-wrap: nowrap;
        @include MQ('1','and-smaller'){ 
            display:none;
        }
        @include MQ('1','and-wider'){ 
            display: inline-flex;
        }   
        @include MQ('2','and-wider'){ 
            display: none;
        }
        @include MQ('3','and-wider'){ 
            display: inline-flex;
            width: 300px;
        }
        &-alt{
            @include MQ('1','and-smaller'){
                display: block;
            }
            @include MQ('1','and-wider'){ 
                display: none;
            }
        }
    }
    .right-group{
        @include flex;
        justify-content: center; 
        align-items: center ;
    }
}







