


#sponsors{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    height:fit-content;
    @media(min-width: 710px){  // Set the width of the space-around container at each screen size to emulate layout
        width: 710px;
    }
    @media(min-width: 910px){
        width: 955px;
    }
    @media(min-width: 1150px){
        width: 1180px;
    }                           // end
    @each $name in $sponsors{
        .#{$name}{
            display: inline-flex;
            justify-content: center;
            position: relative;
            width: fit-content;
            height: fit-content;
            & img{
                margin: 40px 0;
                width: auto;
                @media(min-width: 710px){   // Set the overall size of the sponsor image at each screen size. if I set the width and then auto the height the images don't line up. 
                    height: 47px;
                }
                @media(min-width: 910px){
                    height: 64px;
                }
                @media(min-width: 1150px){
                    height: 70px;
                }
            }
            & .over{  // Hide the colour sponsor image overlaying the visible monochrome image
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            & .bubble-#{$name}{  // Speech bubble text 
                display: none;
                position: absolute;
                top: auto;
                width: 260px;
                left: calc(((100% - 260px) / 2));  // Calc gives a centered bubble
                bottom: 100%;
                z-index: 1;
                color:white;
                background-color: $sponsor-bubble-grey;
                text-align: center;
                padding: 15px 30px;
                h3{
                    font-size: 1.125rem;
                    font-weight: 400;
                    margin-bottom: 0;
                }
                p{
                    font-size: .8125rem;
                    line-height: 1.375rem;
                    margin-bottom: 10px;
                }
            }
            .stem-#{$name}{  // CSS Trick to get a triangle
                display: none;
                position: absolute;
                bottom: calc(100% - 30px);
                width: 0; 
                height: 0; 
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                border-top: 30px solid $sponsor-bubble-grey;  // sets the colour and size of the downward triangle.
            }
            &:hover{
                .over{  // On hover over the sponsor image make the hidden colour image visible. 
                    display: inline-flex;
                }
                .bubble-#{$name}{
                    display: inline-flex;
                    flex-direction: column;
                }
                .stem-#{$name}{
                    display: inline-flex;
                }
            }
        }
    }
}