.top-bar{
    display:flex;
    justify-content: space-between;
    width: $page-width;
    align-items: center;
    flex-wrap: wrap;
    height: 110px;
    padding-right: 25px;
}

.logo{
    width:auto;
    height:63px;
    min-width: auto;
}

%btn{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    padding:0 0.8em;
    color: white;
    font-size: 1.063rem!important;
    cursor: pointer;
    text-transform: uppercase;
    height: auto;
    min-width: 55px;
    min-height: 55px;
    text-decoration: none;
    border-radius: 3px;
    line-height: 36px;
    margin-left: 15px;
    white-space: normal;
}

.btn-phone{
    @extend %btn;
    display: none;
    @include place-awesome-icon('telecom',$size: $phone-icon-size!important);
    @include rotate-phone-icon;
    color: black;
    text-decoration: none;
    &:hover{
        color: black;
        text-decoration: underline; 
    }
     @include MQ('1','and-smaller'){
         display: inline-flex;
    }
} 

.btn-support{
    @extend %btn;
    display: none;
    @include build-button($bg_color: $btn-blue, $hv_bg_color: $btn-blue-hvr);
    @include place-awesome-icon('mouse');
    @include MQ('2','and-wider'){
        display:inline-flex;
    }
}

.btn-contact{
    @extend %btn;
    display: none;
    @include build-button($bg_color: $btn-grey, $hv_bg_color: $btn-grey-hvr);
    @include place-awesome-icon('plane');
    @include MQ('2','and-wider'){
        display:inline-flex;
    }
}

.btn-hamburger{
    @extend %btn;
    display: inline-flex;
    @include build-button($bg_color: black);
    @include place-awesome-icon('hamburger',$hamburger-icon-size);
}

.btn-search{
    @extend %btn;
    display:inline-flex;
    @include build-button($bg_color: $btn-grey, $hv_bg_color: $btn-grey-hvr);
    @include place-awesome-icon('search');
    &-alt{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}

.btn-small-search{
    @extend %btn;
    display:none;
    @include build-button($bg_color: $btn-grey, $hv_bg_color: $btn-grey-hvr);
    @include place-awesome-icon('search');
    @include MQ('2','and-wider'){
        display:inline-flex;
    }
    @include MQ('3','and-wider'){
        display: none;
    }
}

.search-wrapper{
     display:none;
     margin-left:15px;
    
    @include MQ('1','and-wider'){ 
        display: inline-flex;
        width: 200px;
    }
    @include MQ('2','and-wider'){ 
        display: none;
    }
    @include MQ('3','and-wider'){ 
        display: inline-flex;
        width: 300px;
    }
    &-alt{
        @include MQ('1','and-smaller'){
            display: inline-flex;
        }
        @include MQ('1','and-wider'){ 
            display: none;
        }
    }
}
