
#about{
    display: flex;
    flex-direction: column;
    width: 1200px;
    text-align: left;
    justify-content: flex-start;
    color: white;
    padding: 50px 15px;
    // upot here adjusitng the padding adn font size line height etc this and all secitons below.
    h1{
        padding-top: 1rem;
        font-size: 2.25rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    p{
        font-size:1rem;
        line-height: 1.875rem;
        margin-bottom: 25px;
    }
    button{
        @extend %btn;
        margin-left: 0;
        margin-bottom: 3rem;
        color: #333645;
        background-color: white;
        @include place-awesome-icon('arrow',$orientation:'after'){
            margin-left: 1rem;
        }
        &:hover{
            background-color: #EBEBEB;
        }
    }
}
