
.menu-top{
    display:grid;
    position:relative;
    grid-template-columns: repeat(6, 200px);
    align-content: center;
    height: 100px;
    text-transform:uppercase;
    @include MQ('3','and-smaller'){  /// Make menu buttons smaller to fit at a breakpoint
        justify-content:center;
        grid-template-columns: repeat(6, 160px);
    }
    @include MQ('2','and-smaller'){  /// Make the menu disappear at a particular breakpoint
        display: none;
    }
    .small{
        display:block;
        font-size: 0.7rem;
    }
    .submenu{
        display: none;
    }
}


@each $name, $color in $menu_color_map{
    .wrapper-#{$name}{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 100px;
        width: 200px;
        @include MQ('3','and-smaller'){
            width: 160px;
        }
        .button-#{$name}{
            color: white;
            text-decoration: none;
            font-size: 1.125rem;
        }
        &:hover{
            color: white;
            background-color: #{$color};
            .icon{  // make icons white on hover.
                color:white;
            }
            .submenu{
                a{
                    color: white;
                    align-self: center;
                    text-decoration: none;
                }
                display:flex;
                flex-direction: row;
                position: absolute;
                justify-content: space-between;
                top: 100px;
                left: 0;
                width: 1200px;
                z-index: 1;
                font-size: 1rem;
                @include MQ('3','and-smaller'){
                    width: calc(6*160px);
                }
                height: 45px;
                @include make-bgcolor-wide(darken($color, $darken-submenu-amt));
                @include fix-normalize-transparency($color);
            } 
        }
    }
    .icon{
        &-#{$name}{
            color: #{$color};
            @include place-awesome-icon(unquote("#{$name}"));
            @if(unquote("#{$name}")=="telecom"){
                @include rotate-phone-icon;
            }
        }       
    }
}
