
#menu-top{
    @include flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    width: $page-width;
    height: 100px;
    font-weight: 400;
    &:hover{
        border-bottom: none;
    }
    text-transform:uppercase;
    @include MQ('3','and-smaller'){  /// Make menu buttons smaller to fit at a breakpoint
        grid-template-columns: repeat(6, 160px);
        .submenu a{
            font-size: .8125rem;
        }
    }
    @include MQ('2','and-smaller'){  /// Make the menu disappear at a particular breakpoint
        display: none;
    }
    .small{
        display:block;
        font-size: .525rem;
        padding-bottom: 1px;
    }
    .submenu{
        display: none;
    }
}

@each $name, $color in $menu_color_map{
    #menu-top .wrapper-#{$name}{
        .button-#{$name}{
            @include flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 19px 0 18px;
            border-left: 1px solid rgba(0,0,0,.25);
            border-right: 1px solid hsla(0,0%,100%,.1);
            height: 100px; 
            width: 200px;
            @include MQ('3','and-smaller'){
                width: 160px;
            }
            color: white;
            text-decoration: none;
            padding-bottom:10px;
        }
        &:hover{
            color: white;
            background-color: #{$color};
            .icon{  // make icons white on hover.
                color:white;
            }
            .submenu{
                a{
                    color: white;
                    align-self: center;
                    text-decoration: none;
                }
                @include flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                position: absolute;
                top: 100px;
                left: 0;
                width: 100%;
                z-index: 2;
                font-size: 1rem;
                @include MQ('3','and-smaller'){
                    width: 90vw;
                    left: 5vw;
                }
                height: 45px;
                @include make-bgcolor-wide(darken($color, $darken-submenu-amt));
                @include fix-normalize-transparency($color);
            } 
        }
    }
    .icon{
        &-#{$name}{
            color: #{$color};
            padding-bottom: 8px;
            @include place-awesome-icon(unquote("#{$name}"),$size: 1.328rem);
            @if(unquote("#{$name}")=="telecom"){
                @include rotate-phone-icon;
            }
        }       
    }
}