
#latest{
    display: flex;
    justify-content: left;
    @include constrain_at_breakpoints;
    height:110px;
    & div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        height: 110px;
        color: #333645;
        border-bottom: #333645 solid 5px;
        width:fit-content;
        margin-left: 15px;
    }
}

#news{
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 50px 10px;
    height: fit-content;
    @include constrain_at_breakpoints;
    .item{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        border: solid 1px #ccc;
        box-shadow: 0 3px 35px rgba(0,0,0,0.1);
        height: 100%;
        .img-constrainer{
            overflow: hidden;
            width: 100%;
        }
        img.item-img{
            height: auto;
            width: 100%;
            @include MQ('2','and-wider'){
                transform-origin: 50% 50%;
                transition-duration: .25s;
                &:hover{
                transform: scale(1.1);
                opacity: 0.7;
                }
            }
        }
        h2{
            color: #4183d7;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;
            margin: 30px;
        }
        p{
            line-height: 1.375rem;
            font-size: .8125rem;
            margin: 0 30px 30px;
        }
        .button{
            @include build-button($bg_c:#4183d7, $text_c: white, $hv_text_c: white, $height: 48px, $font_s: 1.063rem){
                display:flex;
                font-weight: 400;
                padding: 5px 15px;
            }
            margin: auto 30px 30px;
            width:max-content;
            &:hover{
                background-color: darken($color: #4183d7, $amount: 8);
                color: white;
            }
        }
        hr{
            width: 85%;
            align-self: center;
            margin-top: 0;
        }
        .logo{
            margin: 20px;
            img{
                margin-right: 20px;
                float: left;
                width: 47px;
                height: 47px;
            }
            .cite-container{
                margin-right: 20px;    
            }
            .date{
                margin-top: 0;
            }
        }
    }
}
