
#hero-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    @include MQ('1','and-smaller'){  // add space on smallest screens to avoid conflict with search bar.
        top: 25px;
    }
    bottom: 0px;
    left: min(calc(((100vw - 1200px)*-1)/2),0px);  // this made my brain and my balls ache
    height: calc(100vh - 220px);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1)),
    url("../img/sliding/home-3wAI.jpg");
    color: white;
    h1{
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    p{
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin-bottom: 25px;

    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-design;
        min-height: 65px;
        min-width: 225px;
        border-radius: 3px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        &:hover{
            background-color: darken($color-design, 10);
        }
        @include place-awesome-icon('arrow', $orientation: 'after');
    }

    .hero-item{
        @include MQ('2','and-smaller'){
            align-self: center;
        }
        @include MQ('2','and-bigger'){
            align-self: flex-start;
            margin-left: 12%;
        }
        @include MQ('3','and-bigger'){
            align-self: flex-start;
            margin-left: calc((100vw - 1200px)/2);
        }
    }
}

// a.hero-item{
//     &:hover{
        
//         border: red 5px solid;
//     }
//     border: green 5px solid;
// }