

#substitute-menu{
    // new menu is 216px wide with 21px margin both sides
    display: none;
    @include MQ('2','and-smaller'){
        display: flex;
    }    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333645;
    padding-bottom: 20px;
    outline: 1px solid rgba(0,0,0,.25);
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    
    %category{
        text-align: center;
        font-size: 1.125rem;
        padding: 19px 0 18px;
        width: 216px;
        margin: 21px;
        cursor: pointer;
        border-radius: 3px;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%,100%,.1);
        &:hover{
            background-color: #3D404E;
        }
    }
    .category-contact{
        @extend %category;
        
    }
    @each $name, $color in $menu_color_map{
        .section-#{$name}{
        &:hover .category{
            background-color: #3D404E;
        }
            .category{
                @extend %category;
                @include place-awesome-icon(#{$name}){
                    color: $color;
                    padding-bottom: 10px;
                }
                .small{
                    display: block;
                    font-size: x-small;
                    padding-bottom: 5px;
                }
            }
            .sub{
                text-align: center;
                background-color: rgba(0,0,0,.25);
                padding: 10px;
                cursor: pointer;
                border-bottom: solid 0.5px #333645;
            }
        }
    }
}




#slide-menu{
    display: none;
    flex-direction: column;
    position: fixed;
    width: 350px;
    top: 0;
    right: 0;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    z-index: -11; 
    a{
        color: #fff;
        text-decoration: none;
    }
    %menu-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 350px;
        height: auto;
        cursor: pointer;
    }
    .sections{
        @extend %menu-item;
        font-size: 1rem;
        padding: 20px 20px 20px 20px;
        background-color:#333645;
        &:hover{
            background-color: #3D404E;
        }
    }
    .links{
        @extend %menu-item;
        font-size: 0.875rem;
        padding: 15px 20px 15px 20px;
        @include place-awesome-icon('arrows', $size: 0.875rem, $orientation: 'before'){
            padding-right:10px;
        }
        background-color: #262834;
        border-top: 1px solid hsla(0,0%,100%,.05);
        &:hover{
            .sections{background-color: #3D404E;}
        }
    }
}