

$btn-blue: #4183d7; // blue buttons
$btn-blue-hvr: darken($btn-blue, 8); // hover state darken
$btn-grey: #999aa2; // grey buttons
$btn-grey-hvr: darken($btn-grey, 8); // hover state darken

$top-menu-bgcolor: #333645;
$darken-submenu-amt: 10; 

$color-design: #926FB1;
$color-support: #4183D7;
$color-telecom: #D64541;
$color-software: #67809F;
$color-marketing: #2ECC71;
$color-security: #F62459;

$default-awesome-icon-size: 1.25rem;
$phone-icon-size: 2rem;
$hamburger-icon-size: 1.5rem;

$top-bar-height: 110px;
$menu-top-height: 100px;

