

$btn-blue: #4183d7; // blue buttons
$btn-blue-hvr: darken($btn-blue, 8); // hover state darken
$btn-grey: #999aa2; // grey buttons
$btn-grey-hvr: darken($btn-grey, 8); // hover state darken

$top-menu-bgcolor: #333645;

$web-design-purple: #926FB1;
$it-support-blue: #4183D7;
$telecom-services-red: #D64541;
$bespoke-software-grey: #67809F;
$digital-marketing-green: #2ECC71;
$cyber-security-red: #F62459;




$default-awesome-icon-size: 1.25rem;
$phone-icon-size: 2rem;
$hamburger-icon-size: 1.5rem;
